<nav
  class="navbar-expand-md border-bottom mb-3"
  style="background-color: #d1e7de"
>
  <div class="container">
    <ul class="nav nav-underline justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/home"
          routerLinkActive="text-dark active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/portfolio"
          routerLinkActive="text-dark active"
          >Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/resume"
          routerLinkActive="text-dark active"
          >Resume</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-secondary"
          routerLink="/contact"
          routerLinkActive="text-dark active"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
