<div class="container">
  <div class="text-center">
    <button (click)="DownloadFile()" class="btn btn-success mb-5 shadow border">
      Download PDF Resume
    </button>
  </div>

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Experience
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h2 class="mb-0">Software Engineer</h2>
              <h3 class="text-primary mb-3">Sample Company</h3>
              <ul>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione, recusandae. Lorem ipsum dolor sit.
                </li>
                <li>
                  Corporis iusto odit accusantium ut fugit repellendus quos cum
                  ipsum? Lorem ipsum dolor sit.Lorem ipsum dolor sit. Lorem
                  ipsum dolor sit.
                </li>
                <li>
                  Sint quam doloremque praesentium labore architecto eos, iure
                  sed numquam. Lorem ipsum dolor sit.Lorem ipsum dolor sit.
                  Lorem ipsum dolor sit.
                </li>
                <li>
                  Et laborum rerum, eveniet dolores eos expedita eum explicabo
                  quae? Lorem ipsum dolor sit.Lorem ipsum dolor sit. Lorem ipsum
                  dolor sit.
                </li>
                <li>
                  Eum harum commodi ipsa beatae incidunt obcaecati voluptate
                  culpa itaque! Lorem ipsum dolor sit.Lorem ipsum dolor sit.
                  Lorem ipsum dolor sit.
                </li>
              </ul>
            </div>
            <hr />
            <div class="px-3">
              <h2 class="mb-0">Software Engineer</h2>
              <h3 class="text-primary mb-3">Sample Company</h3>
              <ul>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione, recusandae.
                </li>
                <li>
                  Corporis iusto odit accusantium ut fugit repellendus quos cum
                  ipsum?
                </li>
                <li>
                  Sint quam doloremque praesentium labore architecto eos, iure
                  sed numquam.
                </li>
                <li>
                  Et laborum rerum, eveniet dolores eos expedita eum explicabo
                  quae?
                </li>
                <li>
                  Eum harum commodi ipsa beatae incidunt obcaecati voluptate
                  culpa itaque!
                </li>
              </ul>
            </div>
            <hr />
            <div class="px-3">
              <h2 class="mb-0">Software Engineer</h2>
              <h3 class="text-primary mb-3">Sample Company</h3>
              <ul>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione, recusandae.
                </li>
                <li>
                  Corporis iusto odit accusantium ut fugit repellendus quos cum
                  ipsum?
                </li>
                <li>
                  Sint quam doloremque praesentium labore architecto eos, iure
                  sed numquam.
                </li>
                <li>
                  Et laborum rerum, eveniet dolores eos expedita eum explicabo
                  quae?
                </li>
                <li>
                  Eum harum commodi ipsa beatae incidunt obcaecati voluptate
                  culpa itaque!
                </li>
              </ul>
            </div>
            <hr />
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Certification
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h3>ccc Certification</h3>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Vero, autem totam.</li>
              </ul>
              <h3>aaa Certification</h3>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Vero, autem totam.</li>
              </ul>
              <h3>ddd Certification</h3>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Vero, autem totam.</li>
              </ul>
              <h3>ddd Certification</h3>
              <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Vero, autem totam.</li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Education
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h4>Computer Engineering</h4>
              <h3>Fatih Sultan Mehmet Vakif University</h3>
              <hr />
              <h4>Photography</h4>
              <h3>Anadolu University</h3>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Skills
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row px-3">
              <div class="col">
                <h3>Programming Languages</h3>
                <ul>
                  <li>TypeScript</li>
                  <li>JavaScript</li>
                  <li>Python</li>
                  <li>Java</li>
                </ul>
              </div>
              <div class="vr p-0"></div>
              <div class="col px-3">
                <h3>Programming Languages</h3>
                <ul>
                  <li>Angular</li>
                  <li>React</li>
                  <li>Vue</li>
                  <li>Bootstrap</li>
                  <li>Tailwind CSS</li>
                </ul>
              </div>
              <div class="vr p-0"></div>
              <div class="col px-3">
                <h3>Foreign language</h3>
                <ul>
                  <li style="font-weight: 700; list-style: none" class="my-2">
                    English: <span style="color: #ff3e00; font-weight: 500;">Upper Intermediate</span>
                  </li>
                  <li style="font-weight: 700; list-style: none">
                    Turkish: <span style="color: #ff3e00; font-weight: 500;">Native</span>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
