<div class="container">
  <div class="text-center">
    <h1 class="mb-5">Resume</h1>
    <button (click)="DownloadFile()" class="btn btn-success mb-5 shadow border">
      Download PDF Resume
    </button>
  </div>

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Experience
        </button>
      </h2>

      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h3 class="mb-0">Software Engineer, Intern (Front-end)</h3>
              <h4 class="text-primary mb-3">Mobven</h4>
              <ul>
                <li>
                  Participated in a 2 month young talent program focusing on
                  HTML, CSS, and JavaScript.
                </li>
                <li>
                  Explored CSS methodologies like BEM (Block Element Modifier)
                  and ABEM (Atomic Block Element Modifier)
                </li>
                <li>
                  Developed various projects using CSS preprocessors like SASS /
                  SCSS.
                </li>
                <li>
                  Developed projects using SASS/SCSS and implemented mobile
                  first and responsive design.
                </li>
                <li>Projects developed using Figma and Sketch design tools.</li>
                <li>
                  Collaborated in a team to build an internal question-answer
                  application using JavaScript, Vue.js, Vuex, Git, and GitHub.
                </li>
              </ul>
            </div>
            <hr />
            <div class="px-3">
              <h3 class="mb-0">Software Engineer, Intern (Android)</h3>
              <h4 class="text-primary mb-3">
                Fatih Sultan Mehmet Vakif University
              </h4>
              <ul>
                <li>Developed Android applications using Kotlin and Java</li>
                <li>
                  Created an app to help students manage exams and assignments
                  efficiently.
                </li>
                <li>
                  Utilized Firebase for database and authentication, ensuring
                  seamless cross-device functionality.
                </li>
              </ul>
            </div>
            <hr />
            <div class="px-3">
              <h3 class="mb-0">
                Software Engineer, Intern (Quality Assurance Tester)
              </h3>
              <h4 class="text-primary mb-3">Bugomega</h4>
              <ul>
                <li>
                  Conducted 5 months of internship and volunteer work, testing
                  websites of Turkey's largest white goods manufacturers and
                  some major technology retail companies for functionality, user
                  experience, and user interface errors.
                </li>
                <li>
                  Detected functional errors, user experience , and user
                  interface errors on the websites.
                </li>
                <li>
                  Sint quam doloremque praesentium labore architecto eos, iure
                  sed numquam.
                </li>
                <li>
                  Performed end-user testing Websites tested for cross browser
                  compatibility.
                </li>
              </ul>
            </div>
            <hr />
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Certification
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h3>Techcareer - Hyper</h3>
              <ul>
                <li>Angular Bootcamp</li>
              </ul>
              <h3>Techcareer</h3>
              <ul>
                <li>React Bootcamp</li>
              </ul>
              <h3>Uretken Akademi</h3>
              <ul>
                <li>React Bootcamp.</li>
              </ul>
              <h3>kodluyoruz.org</h3>
              <ul>
                <li>Front-End Bootcamp.</li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Education
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="px-3">
              <h4>Computer Engineering</h4>
              <h3>Fatih Sultan Mehmet Vakif University</h3>
              <hr />
              <h4>Photography</h4>
              <h3>Anadolu University</h3>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button
          class="bg-success-subtle border shadow-sm"
          style="font-size: 1.2rem"
          ngbAccordionButton
        >
          Skills
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row px-3">
              <div class="col">
                <h3>Programming Languages</h3>
                <ul>
                  <li>TypeScript</li>
                  <li>JavaScript</li>
                  <li>Python</li>
                  <li>Java</li>
                </ul>
              </div>
              <div class="vr p-0"></div>
              <div class="col px-3">
                <h3>Frameworks & Libraries</h3>
                <ul>
                  <li>Angular</li>
                  <li>React</li>
                  <li>Vue</li>
                  <li>Bootstrap</li>
                  <li>Tailwind CSS</li>
                </ul>
              </div>
              <div class="vr p-0"></div>
              <div class="col px-3">
                <h3>Languages</h3>
                <ul>
                  <li style="font-weight: 700; list-style: none" class="my-2">
                    English:
                    <span style="color: #ff3e00; font-weight: 500"
                      >Upper Intermediate</span
                    >
                  </li>
                  <li style="font-weight: 700; list-style: none">
                    Turkish:
                    <span style="color: #ff3e00; font-weight: 500">Native</span>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
