<div class="container">
  <!-- About Me -->
  <div class="row d-flex justify-content-center">
    <div class="col-lg shadow border m-1 pt-3">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/images/pp.png"
          alt="picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum esse,
          doloremque est cumque nam sed eveniet voluptas dolores fuga, rerum
          maxime odit? Quod sint et facere consectetur, accusamus officiis?
        </p>
      </div>
    </div>
    <!-- Featured Project -->

    <div class="col-lg shadow border m-1 pt-3">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredproject.name }}</h4>
      </div>

      <ngb-carousel>
        @for (picture of featuredproject.pictures; track picture) {
        <ng-template ngbSlide>
          <div class="img-wrapper">
            <img src="{{ picture }}" alt="slide" />
          </div>
        </ng-template>
        }
      </ngb-carousel>

      <p class="mt-2">
        {{ featuredproject.summary }}
      </p>
      <p>
        Visit the portfolio section to learn more!
      </p>
    </div>
  </div>
</div>
