<div class="container">
  <!-- About Me -->
  <div class="row d-flex justify-content-center">
    <div class="col-lg shadow border m-1 pt-3 rounded-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/images/pp.png"
          alt="picture"
          width="256"
          height="256"
          class="rounded-circle my-3"
        />

        <ul style="text-align: left; list-style: none; line-height: 24px">
          <li>
            Detail-oriented, passionate and dedicated Software Engineer with a
            focus on front-end development.
          </li>
          <br />
          <li>
            Ability to collaborate in team environments to deliver innovative
            solutions.
          </li>
          <br />
          <li>
            Seeking to leverage skills and knowledge in order to contribute
            effectively to dynamic projects while continuously expanding
            expertise in the field.
          </li>
        </ul>
      </div>
    </div>
    <!-- Featured Project -->

    <div class="col-lg shadow border m-1 pt-3 rounded-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredproject.name }}</h4>
      </div>

      <ngb-carousel>
        @for (picture of featuredproject.pictures; track picture) {
        <ng-template ngbSlide>
          <div class="img-wrapper">
            <img src="{{ picture }}" alt="slide" />
          </div>
        </ng-template>
        }
      </ngb-carousel>

      <p class="mt-2">
        {{ featuredproject.summary }}
      </p>
      <p>Visit the portfolio section to learn more!</p>
    </div>
  </div>
</div>
